<div class="game-wrapper">
    <div class="number-box-wrapper">

        <div class="number-box horizontal">
            
            <div  *ngFor="let item of array" (click)="onNumberSelect(item)" [ngClass]="{'container': true, 'selectable-box': item == selectedNumber, 'cursor-pointer': (array[0] == item) || (array[array.length -1] == item)}">
                <div [ngClass]="{'number-label': true}">{{item}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="msg" class="msg"> {{ msg }}</div>
            <div class="score-board">
            
                <div class="left">
                    <button  [ngClass]="{'btn-btn': true, 'active-player': playerOneActive}"  (click)="playerOne()">Player 1st</button>
                    <h4 class="score">Score : {{playerOneScore}} </h4>
                </div>
                <div  class="right">
                    <button  [ngClass]="{'btn-btn': true, 'active-player': playerTwoActive}"  (click)="playerTwo()">Player 2nd</button>
                    <h4 class="score">Score : {{playerTwoScore}} </h4>
                </div>
           
            </div>
</div>


<!-- <modal #winnerModel >
    <modal-header>
        <h1>Modal header</h1>
    </modal-header>
    <modal-content>
      {{ msg }}
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal()">Play Again</button>
    </modal-footer>
</modal> -->


